*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a{
  color: rgb(60, 172, 228);
}
body{
  padding: 20px;
  position: relative;
  background: #343541;
  color: #c3c7ce;
}
.output{
  margin-top: 20px;
  max-width: 1220px;
  margin: 0 auto;
}
p{
  margin-bottom: 20px;
  font-size: 0.875rem;
  line-height: 1.5714285;
  text-align: justify;
}

.loading{
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #343541;

  z-index: 2;
}

.spinner{
  width: 100px;
  height: 100px;

  border: solid 15px rgb(65, 156, 225);

  border-right-color: rgb(159, 209, 248);

  animation: rt .5s linear infinite;

  border-radius: 50%;
}
.wrapper{
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #343541;
  width: 100%;
}
.wrapper input{
  

  width: 500px;
  height: 50px;
  padding: 20px;
  background: #343541;

  border: solid 1px #c3c7ce;
  color: #c3c7ce;
  outline: none;

  border-radius: 5px;
}

.wrapper input:hover{
  border-color: rgb(65, 156, 225);
}

@keyframes rt{
  100%{
    transform: rotate(360deg);
  }
}

.span{
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}